body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.container {
    padding: 20px;
    text-align: center;
}

.brand-btn {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    display: inline-block;
    width: 200px;
}

.form-box {
    width: 300px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.form-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.form-box button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
}